#card_info {
	border: $boost;
	overflow-y: auto;
	height: 1fr;
}


#card_info_sep {
	align-horizontal: center;
	width: 1fr;
	text-align: center;
}

#button_row {
	dock: bottom;
	background: $boost;
	height: auto;
}

.card_back {
	display: none;
}

.revealed .card_back {
	display: block
}

CardBackSep {
	height: auto;
}

.revealed #flip{
	display: none;	
} 

#button_row Button{
	width: 1fr;
	margin: 1;
}

.feedback{
	display: none;
}

.revealed .feedback{
	display: block;
}

.redline{
	width: 1fr;
	text-align: center;
	align-horizontal:center;
}


.diff_delete{
	color: $error;
	background: $error 20%;
}



.diff_add{
	color: $success;
	background: $success 20%;
}
