#card_info {
	border: $boost;
	overflow-y: auto;
	height: 1fr;
}

#card_info Markdown {
	padding:1;
}

#card_info_sep {
	background: $boost;
	align-horizontal: center;
	width: 1fr;
	text-align: center;
	padding:2;
}

#button_row {
	background: $boost;
	height: auto;
}

.card_back {
	display: none;
}

.revealed .card_back {
	display: block
}

.revealed #flip{
	display: none;	
} 

#button_row Button{
	width: 1fr;
	margin: 1;
}

.feedback{
	display: none;
}

.revealed .feedback{
	display: block;
}
