#card_info {
	border: $boost;
	overflow-y: auto;
	height: 1fr;
}


#card_info_sep {
	align-horizontal: center;
	width: 1fr;
	text-align: center;
}

#button_row {
	dock: bottom;
	background: $boost;
	height: auto;
}

CardBackSep {
	height: auto;
}

.revealed #flip{
	display: none;	
} 

#button_row Button{
	width: 1fr;
	margin: 1;
}

.feedback{
	display: none;
}


.revealed .feedback{
	display: block;
}

Container {
	height: auto;
}

Markdown {
	height: auto;
}

